
@-webkit-keyframes monAnime{
    from {
        background-color:red;  
        
    }
    to {
        background-color: blue;
    }
}

@keyframes monAnime{
    from {
        background-color:red;
          
    }
    to {
        background-color: blue;
       transform: rotate(360deg);
    }
}


div {
    width:100px;
    height: 100px;
    background: red;
    animation-name: monAnime;
   animation-duration: 360s;
   -webkit-transition: width 8s;
   transition: width 8s;

}

div:hover{
    width: 500px;
}